<form [formGroup]="formName"
 (ngSubmit)="onFormNameSubmitted(formName)">
 <div>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="formName.get('name')!.invalid">Name is invalid</mat-error>
    </mat-form-field>
    {{ formName.value.name }}
</div>
<div>
    <button type="submit" mat-raised-button 
    [disabled]="!formName.valid"
    color="primary">Submit</button>
</div>
</form>

